{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="container form-card">
        <h2>Книга</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class' : 'form-control', 'id' : 'form-name'}} ) }}
            </div>
            <div class="form-group">
                {{ form_label(form.author) }}
                {{ form_widget(form.author, {'attr': {'class' : 'form-control', 'id' : 'form-author'}} ) }}
            </div>
            <div class="form-group">
                {{ form_label(form.year) }}
                {{ form_widget(form.year, {'attr': {'class' : 'form-control', 'id' : 'form-year', 'min' : '1'}} ) }}
            </div>
            <button class="btn btn-primary" type="submit">Save this book</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
