{% extends 'base.html.twig' %}

{% block title %}Books {% endblock %}

{% block body %}
    <div class="container">
        <h2>List of books</h2>
        <a href="{{ path('add_book') }}">Add new book</a>
        {% for book in books %}
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div>Name: {{ book.name }}</div>
                    <div>Author: {{ book.author }}</div>
                    <div>Year: {{ book.year }}</div>
                    <div class="text-white bg-white"><a href="{{ path('edit_book', { 'book': book.id }) }}">Edit</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
